# Mothur 파일 분석

#### $ ls F3D* > sample_names.txt

In [1]:
code = 'M00967_43_000000000-A3JHG_1_1112_12525_16426'

In [2]:
read_sample_names = open("./MiSeq_SOP/sample_names.txt", 'r')
sample_names = []
data = read_sample_names.read()
data = data.split('\n')
for i in data : 
    list_data = i.split('\t')
    sample_names.append(list_data)
sample_names = sample_names[:-1]
read_sample_names.close()

In [3]:
for n in range(len(sample_names)) : 
    read_find_names = open("./MiSeq_SOP/"+str(sample_names[n])[2:-2], 'r')
    find_names = []
    data = read_find_names.read()
    data = data.split('\n')
    for i in data : 
        if '@M00' in i : 
            list_data = i.split('\t')
            # print(list_data)
            find_names.append(list_data)
            if code.replace('_', ':') in i : 
                print(str(sample_names[n])[2:-2])
                print(i)
                print()
                sample_fq_2 = str(sample_names[n])[2:-2]

read_find_names.close()

F3D9_S197_L001_R1_001.fastq
@M00967:43:000000000-A3JHG:1:1112:12525:16426 1:N:0:197

F3D9_S197_L001_R2_001.fastq
@M00967:43:000000000-A3JHG:1:1112:12525:16426 2:N:0:197

In [4]:
read_find_names = open("./MiSeq_SOP/test.files", 'r')
find_names = []
data = read_find_names.read()
data = data.split('\n')
for i in data : 
    if sample_fq_2 in i : 
        sample_name = i.split('\t')[0]
        # 1. 이 서열은 어느 샘플에서 얻어진 것인지 샘플 이름을 밝히시오
        print('샘플 이름 :', sample_name)

샘플 이름 : F3D9

In [6]:
read_sample_names = open("./MiSeq_SOP/test.trim.contigs.good.names", 'r')
sample_names = []
data = read_sample_names.read()
data = data.split('\n')
for i in data : 
    list_data = i.split('\t')
    sample_names.append(list_data)
sample_names = sample_names[:-1]
read_sample_names.close()

for i in sample_names : 
    if code in str(i) : 
        origin_code = i[0]
        # 2. 이 서열을 대표하는 고유 서열의 아이디를 밝히시오.
        print(origin_code)

M00967_43_000000000-A3JHG_1_1104_7854_15472

In [7]:
origin_code

'M00967_43_000000000-A3JHG_1_1104_7854_15472'

In [8]:
read_sample_names = open("./MiSeq_SOP/test.trim.contigs.good.count_table", 'r')
sample_names = []
data = read_sample_names.read()
data = data.split('\n')
for i in data : 
    list_data = i.split('\t')
    sample_names.append(list_data)
sample_names = sample_names[:-1]
read_sample_names.close()

count_list = []
for i in sample_names : 
    if origin_code in i : 
        print(i)
        count_list.append(i)
        
count_list = count_list[0]

['M00967_43_000000000-A3JHG_1_1104_7854_15472', '5', '2,1', '6,1', '8,1', '16,1', '19,1']

In [9]:
sample_names_list =[]
for o in range(0, 20) : 
    sample_names_list.append(sample_names[1][o].split(',')[1])
    
sample_names_list_num = int(sample_names_list.index(sample_name))+1

for k in count_list[2:] : 
    if str(sample_names_list_num) == str(k.split(',')[0]) : 
        coun = k.split(',')[1]
        print(coun)

1

In [10]:
print(sample_name, '에서 전체', count_list[1], '개 중에', coun, '개 있다.')

F3D9 에서 전체 5 개 중에 1 개 있다.

In [11]:
count_list[1]

'5'

In [12]:
read_sample_names = open("./MiSeq_SOP/test.trim.contigs.good.count_table", 'r')
sample_names = []
data = read_sample_names.read()
data = data.split('\n')
for i in data : 
    list_data = i.split('\t')
    sample_names.append(list_data)
sample_names = sample_names[:-1]
read_sample_names.close()

for i in sample_names : 
    if origin_code in i : 
        print('total :', i[1], '개이다.')

total : 5 개이다.

In [13]:
origin_code

'M00967_43_000000000-A3JHG_1_1104_7854_15472'

In [14]:
tax_list = open("./MiSeq_SOP/test.trim.contigs.good.unique.good.filter.unique.precluster.pick.pds.wang.pick.pick.tx.list", 'r')
tax_list_sample = []
data = tax_list.read()
data = data.split('\n')
for i in data : 
    list_data = i.split('\t')
    tax_list_sample.append(list_data)
tax_list_sample = tax_list_sample[:-1]
tax_list.close()

tax_list = []
for i in range(len(tax_list_sample)) : 
    for j in range(len(tax_list_sample[i])) : 
        if origin_code in tax_list_sample[i][j] : 
            phylo_otu = tax_list_sample[0][j]
            print(phylo_otu)
            tax_list.append(phylo_otu)

Otu13
Otu01
Otu01
Otu01
Otu01
Otu01

#### 1 Genus 2 Family 3 Order 4 Class 5 Phylum 6 Kingdom
가장 위 결과인 1 Genus를 선택한다.

In [15]:
phylo_otu_rename = 'Otu' + tax_list[0][-2:]
phylo_otu_rename

'Otu13'

In [16]:
cons_tax = open("./MiSeq_SOP/test.trim.contigs.good.unique.good.filter.unique.precluster.pick.pds.wang.pick.pick.tx.1.cons.taxonomy", 'r')
cons_tax_sample = []
data = cons_tax.read()
data = data.split('\n')
for i in data : 
    list_data = i.split('\t')
    cons_tax_sample.append(list_data)
cons_tax_sample = cons_tax_sample[:-1]
cons_tax.close()

for i in cons_tax_sample : 
    if phylo_otu_rename == i[0] : 
        print(phylo_otu_rename, '계통분류 결과 :')
        print(str(i[2:])[2:-2])

Otu13 계통분류 결과 :
Bacteria(100);Firmicutes(100);Clostridia(100);Clostridiales(100);Lachnospiraceae(100);Clostridium_XlVb(100);

In [17]:
origin_code

'M00967_43_000000000-A3JHG_1_1104_7854_15472'

In [18]:
otu = open("./MiSeq_SOP/test.trim.contigs.good.unique.good.filter.unique.precluster.pick.pick.pick.opti_mcc.list", 'r')
otu_data = []
data = otu.read()
data = data.split('\n')
for i in data : 
    list_data = i.split('\t')
    otu_data.append(list_data)
otu_data = otu_data[:-1]
otu.close()

for n in range(len(otu_data[1])) : 
    if origin_code in otu_data[1][n] : 
        # 6. 이 고유 서열은 결과적으로 몇번 OTU에 속하는가?
        otu_name = otu_data[0][n]
        print('6. 고유 서열이 속해 있는 OTU :', otu_name)
        # 7. 이 OTU에 속하는 고유 서열의 수는?
        print('7. 이 OTU에 속하는 고유 서열의 수 :', otu_data[1][n].count('M'), '개')
        print()
        print(otu_data[1][n])

6. 고유 서열이 속해 있는 OTU : Otu242
7. 이 OTU에 속하는 고유 서열의 수 : 1 개

M00967_43_000000000-A3JHG_1_1104_7854_15472

In [19]:
otu = open("./MiSeq_SOP/test.trim.contigs.good.unique.good.filter.unique.precluster.pick.pick.pick.opti_mcc.shared", 'r')
otu_data = []
data = otu.read()
data = data.split('\n')
for i in data : 
    list_data = i.split('\t')
    otu_data.append(list_data)
otu_data = otu_data[:-1]
otu.close()

for o in otu_data : 
    if sample_name in o : 
        ind = otu_data[0].index(otu_name)
        # 8. 이 OTU가 1번 문제에서 답한 샘플에서 관찰된 빈도수는 얼만인가?
        print(o[1], '에서는', otu_data[0][ind], '에 해당하는 서열이', o[ind], '번 관찰되었다.')

F3D9 에서는 Otu242 에 해당하는 서열이 1 번 관찰되었다.

In [20]:
otu = open("./MiSeq_SOP/test.trim.contigs.good.unique.good.filter.unique.precluster.pick.pick.pick.opti_mcc.shared", 'r')
otu_data = []
data = otu.read()
data = data.split('\n')
for i in data : 
    list_data = i.split('\t')
    otu_data.append(list_data)
otu_data = otu_data[:-1]
otu.close()

ind = otu_data[0].index(otu_name)
print(otu_data[0][ind])
val_sum = 0
for o in otu_data[1:] : 
    print(o[ind])
    val_sum = val_sum + int(o[ind])
    
# 9. 이 OTU가 전체 데이터세트에서 관찰된 빈도수는 얼마인가?
print('총 합 :', val_sum)

Otu242
0
1
0
0
0
1
0
1
0
0
0
0
0
0
0
1
0
0
1
총 합 : 5

In [21]:
print(val_sum)

5

In [22]:
tax = open("./MiSeq_SOP/test.trim.contigs.good.unique.good.filter.unique.precluster.pick.pick.pick.opti_mcc.0.03.cons.taxonomy", 'r')
tax_data = []
data = tax.read()
data = data.split('\n')
for i in data : 
    list_data = i.split('\t')
    tax_data.append(list_data)
tax_data = tax_data[:-1]
tax.close()

for o in tax_data : 
    if otu_name == o[0] : 
        print(o[0], '에 할당된 계통분류 결과 :')
        print(str(o[2:])[2:-2])

Otu242 에 할당된 계통분류 결과 :
Bacteria(100);Firmicutes(100);Clostridia(100);Clostridiales(100);Lachnospiraceae(100);Clostridium_XlVb(100);